<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CinePhile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/styles.css'>
    <link href="/styles/output.css" rel="stylesheet">
    <script src='/scripts/main.js'></script>
    <script src='/scripts/jquery_main.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.5.0/jquery.marquee.min.js"></script>
    <script src="https://cdn.rawgit.com/aamirafridi/jQuery.Marquee/master/jquery.marquee.min.js"></script>
 


</head>
<body class="bg-gray-900 flex justify-center items-center flex-col">

    <nav class="w-full p-4 flex justify-between items-center bg-gray-900 shadow-md">
        <a href="/">
            <h1 class="text-2xl font-extrabold text-green-500">CinePhile</h1>
        </a>
       
    
        <div class="space-x-4">
            <a href="/login"> 
                <button  class="px-4 py-2 text-white bg-green-600 hover:bg-green-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                    Log in
                </button>  
            </a>
           
            <!-- <a href="/register">
                <button class="px-4 py-2 text-green-600 bg-transparent border-2 border-green-600 hover:bg-green-600 hover:text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
                    Sign up
                </button>
            </a> -->
           
        </div>
    </nav>
    





