<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Movie Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/styles.css'>
    <link href="/styles/output.css" rel="stylesheet">
    <script src='/scripts/main.js'></script>
</head>
<body>
    

    <div class="text-center p-5">
        <h1 class="text-[50px] font-extrabold opacity-100">All your movies, in one place</h1>
        <a href="/login"><button class="bg-green-500 pt-2.5 pb-2.5 pl-4 pr-4 border-white rounded-sm"> Login</button></a>
        <!-- <a href="/sign"><button> Sign in</button></a> -->
    </div>
    
</body>
</html>