<%- include('partials/start_header.ejs') %>
    <div class="bg-fixed flex items-center justify-center bg-black bg-opacity-50">

        <!-- Overlay Content -->
        <div class="text-center p-6 sm:p-12 md:p-24">
          <h1 class="text-4xl sm:text-5xl font-bold mb-6">
            Discover Your Next Favorite Movie
          </h1>
          <p class="text-lg sm:text-xl mb-8">Browse our extensive collection of movies and shows.</p>
    
          <!-- Call to Action Buttons -->
          <div class="space-x-4">
            <a href="/login" class="bg-blue-600 hover:bg-blue-500 text-white px-6 py-3 rounded-lg font-semibold transition duration-300">Login</a>
            <a href="/register" class="bg-green-600 hover:bg-green-500 text-white px-6 py-3 rounded-lg font-semibold transition duration-300">Sign Up</a>
          </div>
    
       
    
      </div>
    
<%- include('partials/start_footer.ejs') %>