<%- include('partials/start_header.ejs') %>
    <div class="bg-fixed flex items-center justify-center  bg-opacity-50">

        <!-- Overlay Content -->
        <div class="text-center p-6 sm:p-12 md:p-24">
          <h1 class="text-4xl sm:text-5xl font-bold mb-6">
            <span class="text-green-500">Discover</span> Your Next Favorite Movie
          </h1>
          <p class="text-lg sm:text-xl mb-8">Browse our extensive collection of movies and shows.</p>
          <button class="px-4 py-2 text-green-600 bg-transparent border-2 border-green-600 hover:bg-green-600 hover:text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
            Sign up
          </button>          <!-- Call to Action Buttons -->
         
  
      </div>
      </div>
<!-- 
      <div class="flex justify-around">
        
        <div>
          <h1 class="text-[36px] font-bold ">All your movies. In one Place</h1>
          <p>All of your movies, curated to your tastes and need. To fullfil the film critic that is in you. </p>
        </div>


        <img class="w-[20%]" src="displays/image.png">

        

       
    
      </div> -->


  

    

     
          
      
    
<%- include('partials/start_footer.ejs') %>